<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App Groups</key>
	<array>
		<string>group.com.ngenart.genart</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict/>
	<key>NSUserDefaultsSuiteName</key>
	<string>group.com.ngenart.genart</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
    <key>NSHealthShareUsageDescription</key>
    <string>This app requires access to your health data to track your walking and running distance.</string>
    <key>NSHealthUpdateUsageDescription</key>
    <string>This app requires permission to update your health data.</string>
	<key>NSMotionUsageDescription</key>
	<string>We use motion data to enhance the visual experience of the app.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app needs access to save images to your photo library.</string>
</dict>
</plist>
