<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>App Groups</key>
		<array>
			<string>group.com.ngenart.dataArt</string>
		</array>
		<key>NSAppTransportSecurity</key>
		<dict />
		<key>NSUserDefaultsSuiteName</key>
		<string>group.com.ngenart.dataArt</string>
		<key>UIBackgroundModes</key>
		<array>
			<string>fetch</string>
		</array>
		<key>NSHealthShareUsageDescription</key>
		<string>This app requires access to your health data to provide insights into your sleep
			patterns and activity.</string>
		<key>NSHealthUpdateUsageDescription</key>
		<string>This app requires permission to update your health data.</string>
		<key>NSFamilyControlsUsageDescription</key>
		<string>This app requires access to Screen Time data to provide insights into your device usage.</string>
	</dict>
</plist>